*{
	margin: 0;
	font-family: 'Chivo', sans-serif;
}
body{ 
	background-image: url(CR5/computer.jpg);
	background-size: 100%; 
}
/* ____________________________Header_________________________________ */
header{
	width: 100%;
	height: 150px;
	background-color: #7B2389;
	text-align: center;
}
header img{
	margin-top: 30px;
	width: 40%;
}
/* __________________________Hero Section_____________________________ */
#shade{
	width: 100%;
	height: 659px;
	background-color: rgba(123,35,138,0.3);
	color: white;
	text-align: center;
	font-size: 3em;
}
#shade h1{
	padding-top: 10%;
}
/* __________________________Person section____________________________ */
#container{
	width: 100%;
	height: 1000px;
	background-color: white; 
	position: absolute;
}
.box{
	width: 44%;
	height: 300px;
	background-color: rgba(123,35,138,0.3);
	margin: 5% 0% 0% 4%;
	float: left;
}
.pic{
	width: 30%;
	margin: 20px;
	float: left;
}
.text{
	float: left;
	margin-top: 30px;
	font-size: 1.5em;
	line-height: 2em;
}
button{
	width: 75px;
	height: 35px;
	background-color: #A3D6CF;
	border: solid gray 1px;
	border-radius: 10px;
	font-size: 1.3em;
	font-weight: bold;
	float: right;
	margin-top: 250px;
	margin-right: 50px;
}
.box h1{
	float: right;
	margin-top: 235px;
	margin-right: 10px;
	color: red;
	font-weight: bold;
	font-size: 3.5em;
}
.heart{
	width: 40px;
	float: right;
	margin-top: 250px;
	margin-right: 5px;
}
/* _____________________________Footer_______________________________ */
footer{
	height: 150px;
	width: 90%;
	position: absolute;
	bottom: 0;
	left: 5%;
	text-align: center;

}
footer img{
	width: 25%;
	margin-top: 50px;
}
